Project Requirements

Main Technologies
HTML, CSS, JavaScript, Python+Flask, MongoDB

Additional libraries and external APIs

Mandatory Requirements
A project violating any of these requirements will FAIL

Data handling: Build a mangoDB-backed Flask project for a web application that allows users to store and manipulate data records about a particular domain. If you are considering using a different database, please discuss that with your mentor first and inform Student Care.
Database structure: Put some effort into designing a database structure well-suited for your domain. Make sure to put some thought into the nesting relationships between records of different entities.
User functionality: Create functionality for users to create, locate, display, edit and delete records (CRUD functionality).
Use of technologies: Use HTML and custom CSS for the website's front-end.
Structure: Incorporate a main navigation menu and structured layout (you might want to use Materialize or Bootstrap to accomplish this).
Documentation: Write a README.md file for your project that explains what the project does and the value that it provides to its users.
Version control: Use Git & GitHub for version control.
Attribution: Maintain clear separation between code written by you and code from external sources (e.g. libraries or tutorials). Attribute any code from external sources to its source via comments above the code and (for larger dependencies) in the README.
Deployment: Deploy the final version of your code to a hosting platform such as Heroku.
Make sure to not include any passwords or secret keys in the project repository.
Important Notes
No authentication is expected for this project. The focus is on the data, rather than any business logic.