.jumbotron {
    background-image: url("../images/jumbotron1.jpg");
    background-size: cover;
    color: black;
    font-weight: bold;
  }

#jumbotron-text{
  background: #ffffff;
  padding-bottom: 5px;
  border-radius: 25px;
}
/*User Landing Page*/
#usrrecipeland{
  padding-bottom: 5px;
  padding-top: 5px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: #e6f9ff;
}

.recipesection{
  padding-top: 5px;
  padding-bottom: 10px;
}

.userrecipesection{
  padding-top: 5px;
  padding-bottom: 15px;
}
