.jumbotron {
    background-image: url("../images/jumbotron1.jpg");
    background-size: cover;
    color: black;
    font-weight: bold;
  }

#jumbotron-text{
  background: #ffffff;
  padding-bottom: 5px;
  border-radius: 25px;
}
/*User Landing Page*/
.recpheader{
  background-color: #73949e;
  color: white;
}

#usrrecipehead{
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #e6f9ff;
}
#usrrecipecontent{
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #ccf3ff;
}

#profileimages{
  height: 150px;
  width: 250px;
}

/*Add/Edit Recipe Page*/
#addrecphead{
  background-color: #73949e;
  color: white;
}
#addrecpcontent{
  background-color: #c0dbe4
}

.recipesection{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #c0dbe4;
}

.userrecipesection{
  padding-top: 5px;
  padding-bottom: 15px;
}

/*CSS for Registration and Login Form pages*/
#formimages{
  height: 100%;
  width: 100%;
  border-radius: 30px;
  position: relative;
}

.formbg{
  background-color: #c0dbe4;
  border-radius: 30px;
  margin:auto;
}
.formpad{
  padding-bottom: 10px;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/*Show Recipe Css*/
.recpshowbutton{
  padding-top: 15px;
}

.whitespacing{
  white-space: pre-wrap;
}

/*Shop CSS*/
.shophead{
  background-color: #73949e;
  color: white;
}

.shopcont{
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;

}

.fillshop{
  background-color: #c0dbe4;
}

.shopimg{
  border-radius: 30px;
}

/*Pagination CSS*/
.pgnation{
  padding-top: 10px;
}