{% extends "base.html" %}

{% block content %}
<center>
    <div id="addrecphead">
    <h1>Add a Recipe</h1>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="alert-warning">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
        <div class="col">
        <p>
            {{ form.title.label }}<br>
            {{ form.title() }}
            {% for error in form.title.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.tags.label }}<br>
            {{ form.tags() }}
            {% for error in form.tags.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.image.label }}<br>
            {{ form.image() }}
            {% for error in form.image.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        </div>
        <div class="col">
        <p>
            {{ form.discription.label }}<br>
            {{ form.discription(cols="40", rows="10") }}
            {% for error in form.discription.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        </div>
        </div>
        <div class="row">
        <div class="col">
        <p>
            {{ form.ingredient.label }}<br>
            {{ form.ingredient(cols="40", rows="10") }}
            {% for error in form.ingredient.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        </div>
        <div class="col">
        <p>
            {{ form.instructions.label }}<br>
            {{ form.instructions(cols="40", rows="10") }}
            {% for error in form.ingredient.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        </div>
        </div>
        <div class="row">
        <div class="col">
        <p>{{ form.submit(class="btn btn-info") }}
        <a href="{{url_for('index')}}" class="btn btn-danger" role="button">Cancel</a></p>
        </div>
        </div>
    </form>
    </center>
  
{% endblock %}