{% extends "base.html" %}

{% block content %}

<!--Jumbotron-->
{% if 'username' not in session %}
  <div class="jumbotron">
      <div class="container" id="jumbotron-text">
        <h1 class="display-4">Lets get Cooking</h1>
        <p class="lead" >Find and Share new Recipes from all over the world</p>
        <hr class="my-4">
        <p>Join our Community and add your own Recipes</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="{{url_for('register')}}" role="button">Sign Up</a>
        </p>
      </div>
  </div>
{% else %}
  <div class="jumbotron">
    <div class="container" id="jumbotron-text">
    <h1 class="display-4">Lets get Cooking</h1>
    <p class="lead" >Check out our Brand New Range of Kitchen Ware</p>
    <hr class="my-4">
    <p>Industry Leading Kitchen Ware from CookIT</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{{url_for('register')}}" role="button">Shop Now</a>
    </p>
    </div>
  </div>
{% endif %}

<!--Sample Recipe section-->
<h1>Top 3 Recipes</h1>
{% for recipe in recipes %}
  {% if loop.index % 2 != 0 %}
  <div class="container recipesection">
    <div class="row">
        <div class="col-lg-6"><img src="{{recipe.image}}" alt="Image" class="img-fluid"> </div>
        <div class="col-lg-6"><h1>{{ recipe.title }}</h1> <br>By({{ recipe.author }}) (Votes:{{ recipe.votes }})<br> 
            <p>{{ recipe.discription }}</p><br>Ingredients:{{ recipe.ingredients }}, Allergens:{{ recipe.allergen }}<br>
            Instruction:{{ recipe.instructions }}
        
        </div>
        </div>
    </div>
    {% else %}
    <div class="container recipesection">
        <div class="row">
            <div class="col-lg-6"><h1>{{ recipe.title }}</h1> <br>By({{ recipe.author }}) (Votes:{{ recipe.votes }})<br> 
                <p>{{ recipe.discription }}</p><br>Ingredients:{{ recipe.ingredients }}, Allergens:{{ recipe.allergen }}<br>
                Instruction:{{ recipe.instructions }}
            
            </div>
            <div class="col-lg-6"><img src="{{recipe.image}}" alt="Image" class="img-fluid"> </div>
            </div>
        </div>
    {% endif %} 
{% endfor %}


  {% endblock %}