{% extends "base.html" %}

{% block content %}

<!--Jumbotron-->
{% if 'username' not in session %}
  <div class="jumbotron">
      <div class="container" id="jumbotron-text">
        <h1 class="display-4">Lets get Cooking</h1>
        <p class="lead" >Find and Share new Recipes from all over the world</p>
        <hr class="my-4">
        <p>Join our Community and add your own Recipes</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="{{url_for('register')}}" role="button">Sign Up</a>
        </p>
      </div>
  </div>
{% else %}
  <div class="jumbotron">
    <div class="container" id="jumbotron-text">
    <h1 class="display-4">Lets get Cooking</h1>
    <p class="lead" >Check out our Brand New Range of Kitchen Ware</p>
    <hr class="my-4">
    <p>Industry Leading Kitchen Ware from CookIT</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{{url_for('register')}}" role="button">Shop Now</a>
    </p>
    </div>
  </div>
{% endif %}
<!--If user is not logged in it will display top three only-->
{% if 'username' not in session %}
<h1>Top 5 Recipes</h1>
{% for recipe in recipes %}
  
  <div class="container recipesection">
    <div class="row">
        
        <div class="col-lg-6"><img src="{{recipe.image}}" alt="Image" class="img-fluid"> </div>
        <div class="col-lg-6">
          <div class="col-lg-12" id="usrrecipehead"><h1>{{ recipe.title|capitalize }}</h1></div>
          <div class="col-lg-12">Submitted by: ({{ recipe.author|capitalize }}) (<a href="{{url_for('vote', recipe_id=recipe._id)}}">Votes:</a> {{ recipe.votes }})<br> 
            <p>Recipe Tags: {{ recipe.tags }}</p><br>
            <a href="{{url_for('show_recipe', recipe_id=recipe._id)}}" class="btn btn-success" role="button">See Recipe</a>
        
        </div>
        </div>
        </div>
        </div>
    </div>
    
{% endfor %}
{% else %}
<!--User Profile Section-->
    <div class="container">
    <div class="row">
      <h1>Hey {{ session['username']|capitalize }}, Welcome to your Profile Page</h1><br>
      <p>This is your profile page, here you can see the Recipes you have submitted, edit and delete them.</p> </div>
    </div>
    <div class="container">
    <div class="row">
      <p>If you would like to add a new Recipe 
      <a href="{{url_for('add_recipe')}}"> Click Here</a></p><br>
    </div>
    </div>    
    <!--Display Flashed Messages-->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
       <ul>
          {% for message in messages %}
            <li class="alert-warning">{{ message }}</li>
          {% endfor %}
       </ul>
      {% endif %}
      {% endwith %}
      <div class="container ">
      <div class="row">
      {% for recipe in recipesuser if session['username'] == recipe.author %}
            
            <div class="col-lg-3" id="usrrecipehead">Recipe Title: {{ recipe.title }}<br>By: {{ recipe.author|capitalize }} (Votes: {{ recipe.votes }})</div>
            <div class="col-lg-3" id="usrrecipecontent"><img src="{{recipe.image}}" alt="Image" class="img-fluid"> 
            <p>Discription: {{ recipe.discription }}</p>
            <a href="{{url_for('show_recipe', recipe_id=recipe._id)}}" class="btn btn-success" role="button">See Recipe</a>
            <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn btn-warning" role="button">Edit Recipe</a>
            <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="btn btn-danger" role="button">Delete Recipe</a>
            </div>
   
      {% else %}
<!--User has no Recipes in the data base-->
        <p>You Currently have no recipes added, Would you like to add one now?</p>
        <a href="{{url_for('add_recipe')}}" class="btn btn-success" role="button">Add New Recipe</a>
      {% endfor %}
    </div>

{% endif %}


{% endblock %}