{% extends "base.html" %}

{% block content %}

<!--Jumbotron-->
    <div class="jumbotron">
        <div class="container" id="jumbotron-text">
        <h1 class="display-4">Lets get Cooking</h1>
        <p class="lead" >Share and Find new Recipes from all over the world</p>
        <hr class="my-4">
        <p>Join our Community and add your own Recipes</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
        </div>
      </div>

<!--Sample Recipe section-->

<div class="container recipesection">
  <div class="row">
    <div class="col-lg-6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit impedit facilis voluptates nostrum maxime quam officiis quaerat nobis earum, laborum porro corrupti velit. Est voluptatem veritatis laudantium doloribus debitis deleniti. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora aperiam, corporis commodi non temporibus vel possimus eum. Unde excepturi facilis aliquid voluptate consectetur. Veritatis aliquam repellendus vero soluta illo ab?</div>
    <div class="col-lg-6"><img src="../static/images/veg1.jpg" alt="Veg Image" class="img-fluid"> </div>
  </div>
</div>


<div class="container recipesection">
    <div class="row">
      <div class="col-lg-6"><img src="../static/images/veg1.jpg" alt="Veg Image" class="img-fluid"> </div>
      <div class="col-lg-6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit impedit facilis voluptates nostrum maxime quam officiis quaerat nobis earum, laborum porro corrupti velit. Est voluptatem veritatis laudantium doloribus debitis deleniti. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora aperiam, corporis commodi non temporibus vel possimus eum. Unde excepturi facilis aliquid voluptate consectetur. Veritatis aliquam repellendus vero soluta illo ab?</div>
    </div>
  </div>


  {% endblock %}