<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for recipe in recipes %}
        {{ recipe.title }}
        {{ recipe.author }}
        {{ recipe.votes }}
        {{ recipe.dish_type }}
        {{ recipe.views }}
        {{ recipe.ingredients }}
        {{ recipe.allergen }}
        {{ recipe.instructions }}
    {% endfor %}
</body>
</html>