{% extends "base.html" %}

{% block content %}
    {% for recipe in recipes %}
        <div class="container recipesection">
            <div class="row">
                <div class="col-lg-6"><img src="{{recipe.image}}" alt="Image" class="img-fluid"> </div>
                <div class="col-lg-6">
                    <div><h1>{{ recipe.title[:30] }}</h1></div>
                    <div><b>Author: </b> {{ recipe.author|capitalize }}</div>
                    <div><b>Votes: </b>{{ recipe.votes }}</div>
                    <div><b>Description:</b> {{ recipe.discription[:30] }}...</div>
                    <div><b>Ingredients:</b> {{ recipe.ingredients }}</div>
                    <div><b>Allergens:</b> {{ recipe.allergen }}</div>
                    <div><b>Instruction:</b> {{ recipe.instructions[:30] }}...</div>
                    <div class="text-center recpshowbutton"><a href="{{url_for('show_recipe', recipe_id=recipe._id)}}" class="btn btn-success" role="button">See Recipe</a></div>
                </div>
                </div>
            </div>
    {% endfor %}

    <div class="pgnation">
        <ul class="pagination justify-content-center">
            {% for numpages in totalpages %}
            {% if numpages == page %}
                <li class="page-item active">
                <a class="page-link">{{ numpages }}</a>
                </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('get_recipe', page=numpages) }}">{{ numpages }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>    
    </div>
    
  {% endblock %}