{% extends "base.html" %}

{% block content %}
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="alert-warning">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    
    <form action="" method="post">
        <div class="container">
        <div class="row formpad">
        <div class="col-lg-6 text-center formbg">
        <h1>Register an Account</h1>
        {{ form.hidden_tag() }}
            <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.passwordconfirm.label }}<br>
            {{ form.passwordconfirm(size=32) }}
            {% for error in form.passwordconfirm.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
       
        <p>{{ form.submit(class="btn btn-info") }}</p>
        </div>
    </form>
    <div class="col-lg-6">
    <img src="../static/images/regimage.jpg" alt="Register Image" id="formimages">
    <div class="text-block">
            <h4>Join Today</h4>
            <p>A new world of Recipes is Waiting</p>
             </div></div></div>
{% endblock %}
