{% extends "base.html" %}

{% block content %}
{% for result in results %}
<div class="container recipesection">
        <div class="row">
            <div class="col-lg-6"><img src="{{result.image}}" alt="Image" class="img-fluid"> </div>
            <div class="col-lg-6">
                <div><h1>{{ result.title[:30] }}</h1></div>
                <div><b>Author: </b> {{ result.author|capitalize }}</div>
                <div><b>Votes: </b>{{ result.votes }}</div>
                <div><b>Description:</b> {{ result.discription[:30] }}...</div>
                <div><b>Ingredients:</b> {{ result.ingredient }}</div>
                <div><b>Allergens:</b> {{ result.allergen }}</div>
                <div><b>Instruction:</b> {{ result.instructions[:30] }}...</div>
                <div class="text-center recpshowbutton"><a href="{{url_for('show_recipe', recipe_id=result._id)}}" class="btn btn-success" role="button">See Recipe</a></div>
            </div>
            </div>
        </div>
{% endfor %}

    <div class="pgnation">
        <ul class="pagination justify-content-center">
            {% for numpages in totalpages %}
            {% if numpages == page %}
                <li class="page-item active">
                <a class="page-link">{{ numpages }}</a>
                </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('get_recipe', page=numpages) }}">{{ numpages }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>    
    </div>

{% endblock %}