{% extends "base.html" %}

{% block content %}
<!--Basic Shop front design for CookIT-->
<div class="container">
    <div class="row fillshop">
    <div class="col-lg-12 text-center shophead"><h1>CookIT Shop</h1></div>
    <div class="col-lg-6 text-center shopcont">
        <img src="../static/images/shopimg4.jpg" alt="Shop Image 4" class="img-fluid shopimg">
    </div>
    <div class="col-lg-6 text-center shopcont">
        <h4> Order our Brand New Range of Cookers</h4>
        <a href="#" class="btn btn-success" role="button">Order Now</a>       
    </div>
    <div class="col-lg-6 text-center shopcont">
        <img src="../static/images/shopimg2.jpg" alt="Shop Image 2" class="img-fluid shopimg">
    </div>
    <div class="col-lg-6 text-center shopcont">
        <h4> Order our Brand New Range of Kitchen Knives</h4>
        <a href="#" class="btn btn-success" role="button">Order Now</a>       
    </div>
    <div class="col-lg-6 text-center shopcont">
        <img src="../static/images/shopimg1.jpg" alt="Shop Image 1" class="img-fluid shopimg">
    </div>
    <div class="col-lg-6 text-center shopcont">
        <h4> Order our Brand New Range of Kitchen Utensils</h4>
        <a href="#" class="btn btn-success" role="button">Order Now</a>       
    </div>
    <div class="col-lg-6 text-center shopcont">
        <img src="../static/images/shopimg3.jpg" alt="Shop Image 3" class="img-fluid shopimg">
    </div>
    <div class="col-lg-6 text-center shopcont">
        <h4> Free Delivery on Orders over €100</h4>
        <a href="#" class="btn btn-success" role="button">Order Now</a>       
    </div>
    </div>
</div>
  
{% endblock %}